<ion-modal-view>

    <ion-header-bar class="bar bar-header bar-positive">
        <button
            class="button button-clear button-primary"
            ng-click="cancel()" translate>button.cancel</button>
        <h1 class="title">Edit</h1>
        <button
            class="button button-clear button-primary"
            ng-click="done()" translate>button.done</button>
    </ion-header-bar>

    <ion-content>



        <div class="padding">

            <h3 class="modal-field-title">{{ title }}</h3>

            <form id="inputDateModalForm">
                <label>
                    <input
                        placeholder="yyyy-MM-dd"
                        class="modal-input-text"
                        type="date"
                        name="modalDateInput"
                        ng-model="parameters.text">
                    <span class="error" ng-show="inputDateModalForm.modalDateInput.$error.date">
                        Not a valid date!</span>
                </label>
            </form>
        </div>

    </ion-content>

</ion-modal-view>
