.review-text-property {
    line-height: 12px;
    .row {
        padding: 10px 0;
    }
    .col {
        padding: 0;
    }
    .title {
        font-weight: bold;
        display: block;
    }
    .title-wrapper {
        padding: 10px 0 0 15px;
    }
    .text-wrapper {
        padding: 5px 15px;
    }
}
