<ion-view>

    <ion-content >

            <form name="resetPassword"
                  ionic-validate-on-submit="ctrl.confirm()">

                <div class="list">
                    <!-- new -->
                    <label class="item item-input">
                        <input type="password"
                               name="password"
                               ng-model="password.new"
                               ng-required="true"
                               placeholder="password">
                    </label>

                    <!-- retype -->
                    <label class="item item-input">
                        <input type="password"
                               name="retype password"
                               ng-model="password.retype"
                               ng-required="true"
                               placeholder="retype password">
                    </label>

                </div>

                <button class="button button-block button-positive bg-gray"
                        type="submit">Confirm Password</button>
            </form>

        <div debug-json="password"></div>
    </ion-content>

</ion-view>
