<ion-view>
    <ion-content >
        <form name="ctrl.form"
              ionic-validate-on-submit="ctrl.change()">

            <div class="list">
                <!-- old -->
                <label class="item item-input">
                    <input type="password"
                           name="password"
                           ng-model="password.old"
                           ng-required="true"
                           placeholder="{{'settings.password.old_password' | translate }}">
                </label>

                <!-- new -->
                <label class="item item-input">
                    <input type="password"
                           name="new password"
                           ng-model="password.new"
                           ng-required="true"
                           placeholder="{{'settings.password.new_password' | translate }}">
                </label>

                <!-- new -->
                <label class="item item-input">
                    <input type="password"
                           name="password confirmation"
                           ng-model="password.newConfirm"
                           ng-required="true"
                           placeholder="{{'settings.password.retype_password' | translate }}">
                </label>

            </div>
        </form>

    </ion-content>

</ion-view>
